Package\ Control.cache/*
Color\ Highlighter/*
*.sublime-settings
*.crt
*.last-run
*.merged-ca-bundle
*.user-ca-bundle
*.sublime-commands
*.sublime-color-scheme
!Package\ Control.sublime-settings
!Preferences.sublime-settings
